html {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-weight: bold;
    font-family: "Kalam", cursive;
    background-image: url(4.jpg)
}

body {
    margin: 0;
    padding: 0;
    border: 0;
<<<<<<< HEAD
}
=======
    background-image: url(UnU.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

>>>>>>> e4071cb646be3a529e648039b131cbe7d5ad3166
